.login_container {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #e6e6e6;
  }
  .logo_header {
    width: 50px;
    height: 80px;
    display: flex;
    justify-self: center;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 160px;
  }
  .login_box {
    display: flex;
    flex-direction: column;
  }
  .login_input,.password_input {
    width: 260px;
    height: 38px;
    color: #999999;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 7px;
  }
  .btn {
    margin-top: 5px;
  }
  .login_btn {
    width: 270px;
    height: 30px;
    border-radius: 6px;
    border: none;
    margin: 5px 0 55px;
    background-color: #62b5ec;
    color: white;
    font-size: 14px;
  }
  .login_btn:disabled {
    background-color: #2e8ceb;
  }
  .signup_container {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    border: 1px solid #e6e6e6;
  }
  .join_insta {
    font-size: 14px;
    color: #013569;
    text-decoration: none;
    align-items: baseline;
  }
  .join_btn {
    color: #199ef7;
    border: white;
    background-color:white;
    font-size: 14px;
  }