<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
</head>
<body>
    <h1>Blog Project</h1>
    {% for blog in blogs.all %}
    <div>
        <h2>제목 : {{blog.title}}</h2>
        <div>날짜 : {{blog.pub_data}}</div>
        <br>
        <div>본문 : {{blog.summary}} <a href="{%url 'detail' blog.id %}">...more</a></div>
        <br>
    </div>
    {% endfor %}
</body>
</html>